<div id="<%= dom_id room_category %>">
  <p>
    <strong>Name:</strong>
    <%= room_category.name %>
  </p>

  <p>
    <strong>Property:</strong>
    <%= room_category.property_id %>
  </p>

  <p>
    <strong>Normal price:</strong>
    <%= room_category.normal_price %>
  </p>

  <p>
    <strong>Discounted price:</strong>
    <%= room_category.discounted_price %>
  </p>

  <p>
    <strong>Discount percent:</strong>
    <%= room_category.discount_percent %>
  </p>

  <p>
    <strong>Current price:</strong>
    <%= room_category.current_price %>
  </p>

</div>
