<div class="border border-gray-200 p-4 rounded-lg flex flex-col md:flex-row gap-4 max-w-[1000px] self-center">
    <div class="w-full md:w-[200px] lg:w-[400px] relative rounded-lg overflow-hidden">
        <% if property.property_images.present? %>
        <%= image_tag property.property_images.first.image, class: "h-[200px] w-full md:w-[200px] lg:w-[285px] object-cover rounded-lg" %>
        <% else %>
        <div class="h-[200px] w-full md:w-[200px] lg:w-[285px] bg-gray-200 flex items-center justify-center">
            <p class="text-gray-400">No image</p>
        </div>
        <% end %>
        <% if property.offer_text.present? %>
        <div class="absolute top-0 left-0">
            <div class="w-0 h-0 border-t-[50px] border-r-[50px] border-t-green-500 border-r-transparent">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 absolute top-[6px] left-[6px] text-white" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                </svg>
            </div>
        </div>
        <% end %>
    </div>
    <div class="flex flex-col">
        <div class="flex flex-col md:flex-row justify-between">
            <h1 class="text-xl font-medium"><%= property.name %></h1>
            <% if property.discount_text.present? %>
            <div>
                <p class="bg-[#F2994A] text-white px-2 py-1 rounded-lg text-sm w-fit truncate">
                    <%= property.discount_text %>
                </p>
            </div>
            <% end %>
        </div>
        <div class="flex flex-col md:flex-row h-full gap-4">
            <div class="flex flex-col flex-grow">
                <p class="text-sm font-medium mt-4 text-neutral-600">
                    Live a little and celbrate with champagne
                </p>
                <p class="text-sm mt-1 text-neutral-600">
                    Reats include a glass of French champagne, parking and a late checkout. Gym included. Flexible cancellation applies
                </p>
                <%= link_to "Explore Property", property, class: "bg-primary text-white px-4 py-2 rounded-lg w-fit mt-auto hidden md:block" %>
            </div>
            <div class="flex flex-col justify-end gap-4  mt-auto">
                <div class="flex flex-col gap-1 mt-auto justify-end ">
                    <p class="text-neutral-700 font-light text-sm">
                        1 room 2 days
                    </p>
                    <p>
                        <span class="font-medium text-xl">$<%= number_with_precision(property.current_price, precision: property.current_price.to_i == property.current_price ? 0 : 2) %></span>
                    </p>
                    <p class="text-neutral-700 font-light text-sm">
                        Includes taxes and fees
                    </p>
                </div>
                <div class="mt-auto">
                    <%= link_to "Explore Property", property, class: "bg-primary text-white px-4 py-2 rounded-lg w-fit block md:hidden" %>
                </div>
            </div>
        </div>
    </div>
</div>